
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;

}
body{
  background-color:black !important;
  font-family: 'Inter', sans-serif;
}
a{
  color: white !important;
  text-decoration: none !important;
}
li{
  list-style: none;
  display: inline;
}
ul{
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
 color: white;
 padding-inline-start: 0px !important;
 margin-right: 20px;
}
 a :hover{
  font-weight: 400;
  font-family: 'Inter', sans-serif;
 color: white;
}
.menu{
  padding-top: 50px;


}
.footerIcon{
  padding: 5px 10px;
}
.progress-bar{
  background-color: #000000 !important;
}
.cardimg{
 
}
.overlay{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 39.58%, #000000 100%);
opacity: 0.9;
width: 100%;
height: 160px;
margin-top: 140px;

}
.overlay:hover{
  background: linear-gradient(180deg, rgba(5, 0, 233, 0.22) 0%, rgba(0, 0, 0, 0.4) 39.58%, #000000 100%);
  transition-duration: 2s;

}
.row>*{
  padding-right: 0 !important;
  padding-left: 0 !important;
  
}
.col-md-4 {
  width: 30% !important;
}
.rnge{
  padding-top: 2px;
  padding-left: 3px;
}

.viewcard{

}
@media (max-width: 768px){

  .col-md-4 {
    width: 80% !important;
  }
  .col-md-3 {
   text-align: center !important;
  }
  .col-md-6 {
    text-align: center !important;
    margin-left: 0  !important;
   }
}
@media (max-width: 992px){

  .col-md-4 {
    width: 45% ;
  }
  .col-md-3 {
   text-align: center !important;
  }
  .col-md-6 {
    margin-left: 120px;
   }
}